@{
    ViewBag.Title = "Map Applicaion";
}

<div class="container-fluid" style="padding:0; margin:0" ng-controller="MapCtrl">
    <div class="row" style="padding:0; margin:0">
        <div class="col-lg-12 col-md-12 col-sm-12" style="padding:0; margin:0">
            <div class="col-lg-10 col-md-10 col-sm-10" style="padding:0; margin:0">
                <div id="dvMap" style="width: 100%; height: 46vw"></div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <h1>this is for save</h1>
            </div>
        </div>
    </div>
</div>