@{
    ViewBag.Title = "Map Applicaion";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-10 col-md-10 col-sm-10">
                <h1>this is for map</h1> 
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <h1>this is for save</h1>
            </div>
        </div>
    </div>
</div>

